@import url('https://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,400i,600&display=swap');

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #2c3e50;
    height: 100%;
    width: 100%;
}

.app-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: #fff;
    transition: all ease-in-out 0.2s;

    .note-holder {
        width: 80%;
        padding: 20px;
        transition: all ease-in-out 0.2s;

        textarea {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            resize: none;
            border: 0;
            padding: 0;
            font-family: 'PT Mono', monospace;
            background: transparent;
        }
    }

    .about {
        position: relative;
        background: #f9f9f9;
        min-width: 280px;
        padding: 20px;
        width: 20%;
        border-left: 1px solid #e0e0e0;
        transition: all ease-in-out 0.2s;

        h1 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 20px;

            span {
                margin-right: 10px;
            }

            sup {
                font-size: 12px;
            }
        }

        p {
            font-size: 16px;
            line-height: 20px;

            + p {
                margin-top: 20px;
            }

            a {
                color: inherit;
                text-decoration: underline;
            }
        }

        button {
            background: none;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            line-height: 40px;
            padding: 0 20px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top: 20px;
        }

        .links {
            display: block;
            position: absolute;
            bottom: 20px;
            right: 20px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                svg {
                    width: 25px;
                    height: 25px;
                    fill: rgba(#000, 0.5);
                    transition: all ease-in-out 0.2s;
                }

                &:before {
                    content: 'Fork Me';
                    margin-right: 7px;
                    background: #000;
                    padding: 7px 10px;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 5px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease-in-out 0.2s;
                }

                &:hover {
                    svg {
                        fill: #000;
                    }

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &.dark-mode {
        background: #323639;

        .note-holder {
            textarea {
                color: #f6f6f6;

                &::placeholder {
                    color: #f6f6f6;
                }
            }
        }

        .about {
            background: #292c2f;
            color: #f6f6f6;
            border-left: 1px solid #545454;

            p a {
                color: #f6f6f6;
            }

            button {
                border: 1px solid #909090;
                color: #f6f6f6;
            }

            .links {
                a svg {
                    fill: #f6f6f6;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .app-container {
        position: static;
        flex-direction: column;
        height: 100%;

        .note-holder {
            width: auto;
            height: 80%;
        }

        .about {
            width: auto;
            height: auto;
            border-top: 1px solid #e0e0e0;
            border-left: 0;

            h1 {
                margin-bottom: 10px;
            }

            p + p {
                margin-top: 10px;
            }
        }

        &.dark-mode {
            .about {
                border-top: 1px solid #545454;
                border-left: 0;
            }
        }
    }
}
